body{
    background-color: #a6a1a1;
    font-family:sans-serif;
    margin:0px;
    padding:20px;
}
h1{
    color:#2c3e50;
    font-size:36px;
    text-align: center;
}
main{
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding:30px;
    border-radius:10px;
}
.link:hover{
    color:greenyellow
}
/* .link:visited{
    color:red;
} */

button{
    height:40px;
    width:140px;
    color:white;
    background-color:rgb(62, 148, 214);
    margin:15px;
    padding:0px;
    border-radius: 20px;;
}