body {
    background-image:linear-gradient(rgb(132, 246, 132),rgb(241, 120, 120),rgb(255, 255, 161),rgb(190, 231, 248),rgb(177, 177, 233));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    background-color:rgba(255, 255, 255, 0.416);
    padding:20px;
    border-radius:20px;
}
label{
    font-size:1rem
}
input{
    align-items: center;
    justify-self: center;
}