body{
    margin:0px;
    padding:0px;
}
.main-container{
    min-width: 400px;
    max-width: 40vw;
    padding:20px;
    margin:20px;
}
.todoApp{
    background-color: #F5F7FA;
    border:2px solid black;
    padding:20px;
    margin:20px;
    text-align: center;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputContainer input{
    height:20px;
    width:230px;
}
.inputContainer button{
    justify-self: flex-end;
    align-self: flex-end;
    padding:5px 20px;
    margin:10px;
    border-radius:5px;

}
/* -------------------------todoList--------------------------- */
.todoItem{
    margin:20px;
    padding:10px;
    border:2px solid rgb(9, 251, 255);
    display:flex;
    justify-content: space-between;
}