body{
    margin:0px;
    padding:0px;
}
.main-container{
   height: 100vh;
    background-color:aqua;
    display:flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #17181A;
    padding:20px;
    border-radius:15px;
}
.calculator input{ 
    width: 310px;
    background-color:#17181A;
    border:none;
    text-align: right;
    margin:5px;
    padding:0px;
    overflow:auto;
}
.expression{
    height: 40px;
    color:#818181;
    font-size:30px;
}
.result{
    height: 70px;
    box-sizing: content-box;
    color:#FFFFFF;
    font-size:50px;
}

.calculator input:focus{
    outline:none;
    border:none;
}
.keys{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    
}
.keys button{
    font-size: 1.8rem;
    padding:20px;
    border-radius: 15px;
    border:none;
    font-weight:400;
    cursor:pointer
}
.acx{
    background-color: hsl(0, 0%, 38%);
    color:hsl(0, 0%, 65%);
}
.acx:hover{
    background-color: hsl(0, 0%, 48%);
}
.acx:active{
    background-color: hsl(0, 0%, 58%);
    color:hsl(0, 0%, 35%);
}
.assign{
    background-color: hsl(209, 100%, 35%);
    color:hsl(209, 100%, 60%);
}
.assign:hover{
    background-color: hsl(209, 100%, 45%);
    color:hsl(209, 100%, 30%);
}
.assign:active{
    background-color: hsl(209, 100%, 55%);
    color:hsl(209, 100%, 20%);
}
.number{
    color:hsl(204, 100%, 58%);
    background-color:hsl(230, 6%, 20%);
}
.number:hover{
    color:hsl(204, 100%, 48%);
    background-color:hsl(230, 6%, 40%);
}
.number:active{
    color:hsl(204, 100%, 38%);
    background-color:hsl(230, 6%, 60%);
}
.equal{
    background-color: hsl(209, 100%, 55%);
    color:hsl(209, 100%, 85%)
}
.equal:hover{
    background-color: hsl(209, 100%, 65%);
    color:hsl(209, 100%, 75%)
}
.equal:active{
    background-color: hsl(209, 100%, 75%);
    color:hsl(209, 100%, 65%)
}
.btn0{

    grid-column: span 2;
}

.btnP{
    grid-row: span 2;
}
