.body{
    margin:0px;
}
.navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    background-color: #2c3e50;
    padding:20px 40px;

}
.navbar-list{
    display:flex;
    gap:30px;
    list-style-type: none;
}
.navbar-list a {
    color:white;
    text-decoration: none;
}